doctype html
html
  head
    title normalize.io - the end of package management for the web
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='index.css')
    link(rel='stylesheet', href='http://yandex.st/highlightjs/8.0/styles/github.min.css')
  body
    block body
    #top-bar
      .container
        a#top-bar-logo(href="./") normalize.io
        a.top-bar-link(href="https://github.com/normalize") source
        a.top-bar-link(href="docs.html") docs
    header
      block header
    main
      block main
    footer
      .container
        #footer-badges
          script(
            data-gittip-username='jonathanong',
            src='https://gttp.co/v1.js',
            async=true)

        ul#footer-links
          li Jonathan Ong &copy; 2014
          li
            a(href='http://jongleberry.com') jongleberry.com
          li
            a(href='https://github.com/jonathanong') @jonathanong
          li
            a(href='https://twitter.com/jongleberry') @jongleberry
          li
            a(href='mailto:me@jongleberry.com') me@jongleberry.com
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    script(src='http://yandex.st/highlightjs/8.0/highlight.min.js')
    script(src='index.js')
